<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//MYBATIS.org//DTD Mapper 3.0//EN" "http://MYBATIS.org/dtd/MYBATIS-3-mapper.dtd" >
<mapper namespace="com.app.repository.SkillInfoRepository" >
  <resultMap id="SkillInfoResultMap" type="com.app.model.SkillInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="EXTEND" property="extend" jdbcType="VARCHAR" />
    <result column="INFO" property="info" jdbcType="VARCHAR" />
    <result column="WEAPON_POWER" property="weaponPower" jdbcType="INTEGER" />
    <result column="EFFECTS" property="effects" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="select_column_list">
    SKILL_INFO.ID
    ,SKILL_INFO.NAME
    ,SKILL_INFO.TYPE
    ,SKILL_INFO.EXTEND
    ,SKILL_INFO.INFO
    ,SKILL_INFO.WEAPON_POWER
    ,SKILL_INFO.EFFECTS
  </sql>

  <sql id="insert_column_list">
    ID
    ,NAME
    ,TYPE
    ,EXTEND
    ,INFO
    ,WEAPON_POWER
    ,EFFECTS
  </sql>

  <select id="selectOneById" resultMap="SkillInfoResultMap">
    SELECT
      <include refid="select_column_list"></include>
    FROM 
      SKILL_INFO
    WHERE
      ID = #{id}
  </select>

  <select id="selectOneByUniqueKey" resultMap="SkillInfoResultMap">
    SELECT
      <include refid="select_column_list"></include>
    FROM 
      SKILL_INFO
    <where>
      <if test="name!=null">
        AND NAME = #{name}
      </if>
      <if test="type!=null">
        AND TYPE = #{type}
      </if>
    </where>
  </select>

  <select id="selectByDto" parameterType="com.app.model.SkillInfo" resultMap="SkillInfoResultMap">
    SELECT
      <include refid="select_column_list"></include>
    FROM 
      SKILL_INFO
    <where>
      <if test="id!=null">
        AND ID = #{id}
      </if>
      <if test="name!=null">
        AND NAME = #{name}
      </if>
      <if test="type!=null">
        AND TYPE = #{type}
      </if>
      <if test="extend!=null">
        AND EXTEND = #{extend}
      </if>
      <if test="info!=null">
        AND INFO = #{info}
      </if>
      <if test="weaponPower!=null">
        AND WEAPON_POWER = #{weaponPower}
      </if>
      <if test="effects!=null">
        AND EFFECTS = #{effects}
      </if>
    </where>
    <if test="orderBy!=null">
      ORDER BY ${orderBy}
    </if>
  </select>

  <select id="uniqueCheck"  resultType="Integer">
    SELECT count(*) AS count
    FROM 
      SKILL_INFO
    <where>
      <if test="name!=null">
        AND NAME = #{name}
      </if>
      <if test="type!=null">
        AND TYPE = #{type}
      </if>
    </where>
  </select>

  <update id="update" parameterType="com.app.model.SkillInfo" >
    UPDATE
      SKILL_INFO
    <set>
      <if test="name!=null">
        NAME = #{name},
      </if>
      <if test="type!=null">
        TYPE = #{type},
      </if>
      <if test="extend!=null">
        EXTEND = #{extend},
      </if>
      <if test="info!=null">
        INFO = #{info},
      </if>
      <if test="weaponPower!=null">
        WEAPON_POWER = #{weaponPower},
      </if>
      <if test="effects!=null">
        EFFECTS = #{effects},
      </if>
    </set>
    WHERE
      ID = #{id}
  </update>

  <insert id="insert" parameterType="com.app.model.SkillInfo" >
        <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
          SELECT SEQ_SKILL_INFO.NEXTVAL FROM DUAL
        </selectKey>
    INSERT INTO SKILL_INFO(
    <include refid="insert_column_list"></include>
    ) SELECT 
       #{id}
      , #{name}
      , #{type}
      , #{extend}
      , #{info}
      , #{weaponPower}
      , #{effects}
     FROM DUAL 
     WHERE 1=1 
     AND NOT EXISTS 
     (SELECT 1 FROM SKILL_INFO
         WHERE 1=1 
         AND NAME = #{name} 
         AND TYPE = #{type} )
     AND ROWNUM = 1
  </insert>
</mapper>

