ul, li {
  list-style: none;
}

ul {
  padding-left: 20px;
}

.close {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("close.png") no-repeat center;
  background-size: contain;
}

.open {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("open.png") no-repeat center;
  background-size: contain;
}

.leaf {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("leaf.png") no-repeat center;
  background-size: contain;
}

.leafName {
  color: green;
  padding-left: 10px;
  padding-right: 10px;
}

.openTrue {
  color: gray;
}