<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Title</title>
<head th:replace="~{feh/resources :: header}"></head>
<style type="text/css">
body {
  background-color: rgba(27, 208, 153, 0.59)
}

table {
  width: 100%
}

.table-label {
  width: 80px; float: left
}

.table-input {
  width: 160px
}

.moveType {
  margin-left: 30px; margin-top: -10px; width: 40px; height: 40px
}

.inputSelect {
  position: relative;
}

.input {
  position: absolute; z-index: 0; width: 100px; height: 40px; left: -2px
}

.select {
  z-index: 1; width: 140px
}
</style>
<script th:inline="javascript">
  var mapObj = [[${form.skillMap}]];
  var weaponList = [[${form.weaponType}]];
</script>
<script src="../../../resources/js/feh/acterinfo.js" th:src="@{/resources/js/feh/acterinfo.js}"></script>

</head>
<body>
  <div class="container-scroller">
    <!-- 头部导航-->
    <header th:replace="~{feh/topNav :: header}"></header>
    <div class="container-fluid page-body-wrapper">
      <!-- 左侧头部导航-->
      <nav th:replace="~{feh/leftNav :: sidebar}"></nav>
      <div class="main-panel">
        <!-- 主要内容写在这里面 -->
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">人物登陆</h4>
                <form id="feh-character-form" class="forms-sample" th:object="${form}">
                  <input type="hidden" th:value="${form.charActer.id}" th:name="charActer.id" />
                  <table>
                    <tr>
                      <td class="table-label"><label for="exampleInput">作品</label></td>
                      <td class="table-input">
                        <select id="acterOrigin" class="form-control" th:name="charActer.origin">
                          <option></option>
                          <option th:each="contentMaster :${form.origin}" th:value="${contentMaster.codeId}" th:text="${contentMaster.codeName}"></option>
                        </select>
                      </td>
                      <td class="table-label"><label for="exampleInput">角色名</label></td>
                      <td class="table-input  inputSelect"><input class="form-control input" type="text" th:name="charActer.basename" th:value="${form.charActer.basename}" style="top: 5px">
                        <select id="acterName" class="form-control select">
                          <option></option>
                      </select></td>
                      <td class="table-label"><label for="exampleInput">称号</label></td>
                      <td class="table-input"><input type="text" class="form-control" th:name="charActer.titlename" th:value="${form.charActer.titlename}" placeholder="角色称号"></td>
                      <td class="table-label"><label for="exampleInput">别名</label></td>
                      <td class="table-input"><input type="text" class="form-control" th:name="charActer.name" th:value="${form.charActer.name}" placeholder="别名"></td>
                      <td class="table-label"><label for="exampleInput">突破数</label></td>
                      <td class="table-input"><input type="text" class="form-control" th:name="charActer.levelPlus" th:value="${form.charActer.levelPlus}" placeholder="0"></td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td class="table-label"><label for="exampleSelectGender">A技能</label></td>
                      <td class="table-input inputSelect"><input class="form-control input" type="text" th:name="charActer.skillA" th:value="${form.charActer.skillA}"> <select
                        class="form-control select" id="characterSkillA">
                          <option></option>
                      </select></td>
                      <td class="table-label"><label for="exampleSelectGender">B技能</label></td>
                      <td class="table-input inputSelect"><input class="form-control input" type="text" th:name="charActer.skillB" th:value="${form.charActer.skillB}"> <select
                        class="form-control select" id="characterSkillB">
                          <option></option>
                      </select></td>
                      <td class="table-label"><label for="exampleSelectGender">C技能</label></td>
                      <td class="table-input inputSelect"><input class="form-control input" type="text" th:name="charActer.skillC" th:value="${form.charActer.skillC}"> <select
                        class="form-control select" id="characterSkillC">
                          <option></option>
                      </select></td>
                      <td class="table-label"><label for="exampleSelectGender">辅助</label></td>
                      <td class="table-input inputSelect"><input class="form-control input" type="text" th:name="charActer.skillS" th:value="${form.charActer.skillS}"> <select
                        class="form-control select" id="characterSkillS">
                          <option></option>
                      </select></td>
                      <td class="table-label"><label for="exampleSelectGender">必杀</label></td>
                      <td class="table-input inputSelect"><input class="form-control input" type="text" th:name="charActer.skillE" th:value="${form.charActer.skillE}"> <select
                        class="form-control select" id="characterSkillE">
                          <option></option>
                      </select></td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td class="table-label"><label for="exampleSelectGender">武器</label></td>
                      <td class="table-input inputSelect"><input class="form-control input" type="text" th:name="charActer.weapon" th:value="${form.charActer.weapon}"> <select
                        class="form-control select" id="characterWeapon">
                          <option style="background-image: url(../../../resources/images/feh/i_fire_sword.png)"></option>
                      </select></td>
                      <td class="table-label"><label for="exampleSelectGender">武器类型</label></td>
                      <td class="table-input inputSelect"><select class="form-control select" id="characterWeapon" th:field="*{charActer.weaponType}">
                          <option th:each="weaponType :${form.weaponType}" th:value="${weaponType.codeId}" th:text="${weaponType.codeName}"></option>
                      </select></td>
                    </tr>
                    <tr style="height: 20px"></tr>
                  </table>
                  <div class="form-group">
                    <label>角色图目录</label> <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control file-upload-info" th:name="charActer.faceImg" th:value="${form.charActer.faceImg}" /> <span class="input-group-append">
                        <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">HP</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.hp" th:value="${form.charActer.hp}" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">基准值</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.baseHp" th:value="${form.charActer.baseHp}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">力/魔力</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.att" th:value="${form.charActer.att}" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">基准值</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.baseAtt" th:value="${form.charActer.baseAtt}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">速度</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.spd" th:value="${form.charActer.spd}" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">基准值</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.baseSpd" th:value="${form.charActer.baseSpd}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">防御</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.def" th:value="${form.charActer.def}" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">基准值</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.baseDef" th:value="${form.charActer.baseDef}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">魔防</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.mdf" th:value="${form.charActer.mdf}" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">基准值</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" th:name="charActer.baseMdf" th:value="${form.charActer.baseMdf}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">兵种</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" th:field="*{charActer.moveType}" value="1">
                            </label>
                            <img class="moveType" src="../../../resources/images/feh/i_type_pawn.png" th:src="@{/resources/images/feh/i_type_pawn.png}" />
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" th:field="*{charActer.moveType}" value="2">
                            </label>
                            <img class="moveType" src="../../../resources/images/feh/i_type_knight.png" th:src="@{/resources/images/feh/i_type_knight.png}" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" th:field="*{charActer.moveType}" value="3" />
                            </label>
                            <img class="moveType" src="../../../resources/images/feh/i_type_fly.png" th:src="@{/resources/images/feh/i_type_fly.png}" />
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" th:field="*{charActer.moveType}" value="4">
                            </label>
                            <img class="moveType" src="../../../resources/images/feh/i_type_armor.png" th:src="@{/resources/images/feh/i_type_armor.png}" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">祝福</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label"> <input type="radio" class="form-check-input" th:name="charActer.blessing" value="1">
                            </label> <img class="moveType" src="../../../resources/images/feh/i_BlessA.png" th:src="@{/resources/images/feh/i_BlessA.png}" />
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label"> <input type="radio" class="form-check-input" th:name="charActer.blessing" value="2">
                            </label> <img class="moveType" src="../../../resources/images/feh/i_BlessE.png" th:src="@{/resources/images/feh/i_BlessE.png}" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label"> <input type="radio" class="form-check-input" th:name="charActer.blessing" value="3" />
                            </label> <img class="moveType" src="../../../resources/images/feh/i_BlessW.png" th:src="@{/resources/images/feh/i_BlessW.png}" />
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label"> <input type="radio" class="form-check-input" th:name="charActer.blessing" value="4">
                            </label> <img class="moveType" src="../../../resources/images/feh/i_BlessF.png" th:src="@{/resources/images/feh/i_BlessF.png}" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">宝珠颜色</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label"> <input type="radio" class="form-check-input" th:name="charActer.color" value="1">
                            </label> <img class="moveType" src="../../../resources/images/feh/pearl_red.png" th:src="@{/resources/images/feh/pearl_red.png}" />
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label"> <input type="radio" class="form-check-input" th:name="charActer.color" value="2">
                            </label> <img class="moveType" src="../../../resources/images/feh/pearl_blue.png" th:src="@{/resources/images/feh/pearl_blue.png}" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label"> <input type="radio" class="form-check-input" th:name="charActer.color" value="3" />
                            </label> <img class="moveType" src="../../../resources/images/feh/pearl_green.png" th:src="@{/resources/images/feh/pearl_green.png}" />
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label"> <input type="radio" class="form-check-input" th:name="charActer.color" value="4"></label>
                            <img class="moveType" src="../../../resources/images/feh/pearl_opaque.png" th:src="@{/resources/images/feh/pearl_opaque.png}" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-gradient-primary mr-2" id="submitForm">Submit</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>