<!DOCTYPE html>
<html>
  <head>
    <title>MyHtml.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>

<body>
	<section class="section_acter">
                        <table>
                             <tbody>
                               <tr>
                                 <td class="feh_sec_i" rowspan="4">
                                   <a href="#">
                                   <img width="50" alt="ティト" src="https://gamewith.akamaized.net/article_tools/fireemblem/gacha/i_144350.png">ティト
                                   </a>
                                   <hr>7.5点
                                 </td>
                                 <td class="feh_sec_td" colspan="4"></td>
                               </tr>
                               <tr class="feh_sec_sta">
                                 <td>ＨＰ<hr>攻撃 <hr>守備</td>
                                 <td>37  <hr>45  <hr>31  </td>
                                 <td>速さ <hr>魔防</td>
                                 <td><br>35<hr>28</td>
                               </tr>
                               <tr class="feh_sec_sk">
                                 <td colspan="2">
                                   <img width="12" alt="武" src="https://gamewith.akamaized.net/article_tools/fireemblem/gacha/all_WS.png">
                                   <a href="#">守りの槍+</a><br>
                                   <img width="12" alt="補" src="https://gamewith.akamaized.net/article_tools/fireemblem/gacha/all_HJ.png">-<br>
                                   <img width="12" alt="奥" src="https://gamewith.akamaized.net/article_tools/fireemblem/gacha/all_SP.png">
                                   <a href="https://gamewith.jp/fireemblem/article/show/51138">華炎</a><br>
                                 </td>
                                 <td colspan="2">
                                   <img width="12" alt="A" src="https://gamewith.akamaized.net/article_tools/fireemblem/gacha/all_PA.png">
                                   <a href="https://gamewith.jp/fireemblem/article/show/119326">飛燕金剛の構え2</a><br>
                                   <img width="12" alt="B" src="https://gamewith.akamaized.net/article_tools/fireemblem/gacha/all_PB.png">
                                   <a href="https://gamewith.jp/fireemblem/article/show/144581">速さ守備封じ2</a><br>
                                   <img width="12" alt="C" src="https://gamewith.akamaized.net/article_tools/fireemblem/gacha/all_PC.png">-<br>
                                 </td>
                               </tr>
                               <tr>
                                 <td class="feh_sec_tou" colspan="4">登場：ファイアーエムブレム 封印の剣</td>
                               </tr>
                             </tbody>
                           </table>
                      </section>
</body>
</html>
