<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <head th:fragment="header">
    <!-- plugins:css -->
    <link rel="stylesheet" type="text/css" href="../../../resources/css/feh/materialdesignicons.min.css"  th:href="@{/resources/css/feh/materialdesignicons.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/css/feh/vendor.bundle.base.css"  th:href="@{/resources/css/feh/vendor.bundle.base.css}"/>
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="../../../resources/css/feh/style.css"  th:href="@{/resources/css/feh/style.css}"/>
    <script src="../../../resources/js/feh/vendor.bundle.base.js" th:src="@{/resources/js/feh/vendor.bundle.base.js}"></script>
    <script src="../../../resources/js/feh/vendor.bundle.addons.js" th:src="@{/resources/js/feh/vendor.bundle.addons.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../../resources/js/feh/off-canvas.js" th:src="@{/resources/js/feh/off-canvas.js}"></script>
    <script src="../../../resources/js/feh/misc.js" th:src="@{/resources/js/feh/misc.js}"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../resources/js/feh/off-canvas.js" th:src="@{/resources/js/feh/off-canvas.js}"></script>
    <script src="../../../resources/js/feh/misc.js" th:src="@{/resources/js/feh/misc.js}"></script>
    <script src="../../../resources/js/feh/dashboard.js" th:src="@{/resources/js/feh/dashboard.js}"></script>
    <script src="../../../resources/js/feh/file-upload.js" th:src="@{/resources/js/feh/file-upload.js}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!--
    <script src="../../../resources/js/jquery-3.4.1.min.js" th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
    -->
    <script src="../../../resources/js/commonService.js" th:src="@{/resources/js/commonService.js}"></script>
</head>
<body>
  
</body>

</html>
