<!DOCTYPE html>
<html xmlns:th="http://www.THYMELEAF.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄登录页面</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">
<!-- Bootstrap core CSS -->
<link href="../../../resources/bootstrap/css/bootstrap.css" th:href="@{/resources/bootstrap/css/bootstrap.css}" rel="stylesheet">
<style>
.col-md-8 {
  width: 800px
}

.row h4 {
  padding-left: 10px
}

.custom-control-input {
  position: inherit;
}

.row img {
  height: 30px
}

.mainArea :: after {
  opacity: 0.7;
}
</style>
<!-- Bootstrap core CSS -->
<link href="../../../resources/bootstrap/css/form-validation.css" th:href="@{/resources/bootstrap/css/form-validation.css}" rel="stylesheet">
<script src="../../../resources/js/jquery-3.4.1.min.js" th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
<script src="../../../resources/js/commonService.js" th:src="@{/resources/js/commonService.js}"></script>
<script src="../../../resources/bootstrap/js/form-validation.js" th:src="@{/resources/bootstrap/js/form-validation.js}"></script>
<script th:inline="javascript">
    var mode = [[inputForm.mode]];
    var result = [[${result}]];
</script>
<script src="../../../resources/js/hero/regist.js" th:src="@{/resources/js/hero/regist.js}"></script>
<script type="text/javascript">
function openChildWindow(){
  var args = {"name":$("#weaponType").val()};
  var resultTxt = window.showModalDialog("subWeapon.html",args,"dialogHeight:500px;dialogWidth:800px;dialogLeft:50px;dialogTop:20px");
  var resultObj = JSON.parse(resultTxt);
  $("#weapon").val(resultObj.weapon);
}
</script>
</head>
<body class="bg-light">
  <!-- style="background: url('/myapp/resources/images/feh/upd_bg.gif');background-repeat: no-repeat;" -->
  <main class="mainArea">
    <!-- Form Info -->
    <div class="col-md-8 order-md-1" style="background-color:#bfbdce9e">
      <form class="needs-validation" th:object="${inputForm}" th:action="@{/hero/regist/excute}" method="post" novalidate>
        <h4 class="mb-3">基本</h4><span id="updRst" style="color:red;display:none">SUCCESS</span>
        <div class="row">
          <div class="col-md-4">
            <label for="origin">角色作品</label>
            <select id="origin" class="custom-select"  th:field="*{hero.origin}" required>
              <option dyl:options="0004" th:value="${inputForm.hero.origin}" />
            </select>
            <div class="invalid-feedback">origin is required</div>
          </div>
          <div class="col-md-4">
            <label for="titleName">称号</label>
            <input id="titleName" class="form-control" type="text" th:field="*{hero.titleName}" placeholder="伟大的女爵" required>
            <input id="id" class="form-control" type="hidden" th:field="*{hero.id}" required>
            <div class="invalid-feedback">titleName is required</div>
          </div>
          <div class="col-md-4">
            <label for="name">角色名</label>
            <input id="name" class="form-control" type="text" th:field="*{hero.name}" placeholder="琳" required>
            <div class="invalid-feedback">name is required</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for="nickName">昵称</label>
            <input id="nickName" class="form-control" type="text" th:field="*{hero.nickName}" placeholder="总选举琳">
          </div>
          <div class="col-md-6">
            <label for="imgName">立绘名</label>
            <input id="imgName" class="form-control" type="text" th:field="*{hero.imgName}" placeholder="Nailah_F_BlessedQueen" required>
            <div class="invalid-feedback">imgName is required</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <label for="hp">生命值</label>
            <input id="hp" class="form-control" type="text" th:field="*{hero.hp}" placeholder="50" required>
            <div class="invalid-feedback">hp is required</div>
          </div>
          <div class="col-md-2">
            <label for="attact">攻击</label>
            <input id="attact" class="form-control" type="text" th:field="*{hero.attact}" placeholder="50" required>
            <div class="invalid-feedback">attact is required</div>
          </div>
          <div class="col-md-2">
            <label for="speed">速度</label>
            <input id="speed" class="form-control" type="text" th:field="*{hero.speed}" placeholder="50" required>
            <div class="invalid-feedback">speed is required</div>
          </div>
          <div class="col-md-2">
            <label for="def">防御</label>
            <input id="def" class="form-control" type="text"  th:field="*{hero.def}" placeholder="50" required>
            <div class="invalid-feedback">def is required</div>
          </div>
          <div class="col-md-2">
            <label for="mdf">魔防</label>
            <input id="mdf" class="form-control" type="text" th:field="*{hero.mdf}" placeholder="50" required>
            <div class="invalid-feedback">mdf is required</div>
          </div>
          <div class="col-md-2">
            <label for="rank">评价等级</label>
            <select id="rank" class="custom-select" th:field="*{hero.rank}" name="rank">
              <option value="">Choose...</option>
              <option value="S+">S+</option>
              <option value="S">S</option>
              <option value="A+">A+</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for="skillPoint">技能点</label>
            <input id="skillPoint" class="form-control" type="text" th:field="*{hero.skillPoint}" placeholder="9999">
          </div>
          <div class="col-md-4">
            <label for="heroPoint">英雄点</label>
            <input id="heroPoint" class="form-control" type="text" th:field="*{hero.heroPoint}" placeholder="6000">
          </div>
          <div class="col-md-2">
            <label for="limitPlus">突破极限</label>
            <input id="limitPlus" class="form-control" type="text" th:field="*{hero.limitPlus}" placeholder="+10">
          </div>
          <div class="col-md-2">
            <label for="dragonFlower">神龙之花</label>
            <input id="dragonFlower" class="form-control" type="text" th:field="*{hero.dragonFlower}" placeholder="5">
          </div>
        </div>

        <h4 class="mb-3">技能</h4>
        <div class="row">
          <div class="col-md-4">
            <label for="weaponType">武器类型</label>
            <select id="weaponType" class="custom-select" th:field="*{hero.weaponType}" name="weaponType" required>
              <option dyl:options="0002" th:value="${inputForm.hero.weaponType}" />
            </select>
            <div class="invalid-feedback">weaponType is required</div>
          </div>
          <div class="col-md-4">
            <label for="weapon">武器名</label>
            <input id="weapon" class="form-control" type="text" th:field="*{hero.weapon}" placeholder="法尔西昂" required>
            <div class="invalid-feedback">weapon is required</div>
          </div>
          <div class="col-md-2">
            <div class="custom-checkbox" style="padding-top: 2.2em">
            </div>
          </div>
          <div class="col-md-2">
            <div class="custom-checkbox" style="padding-top: 2.2em">
              <input id="extendWeapon" class="custom-control-input" type="checkbox" name="extendWeapon">
              <label for="extendWeapon" class="custom-control-label">继承</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label for="weaponInfo">描述</label>
            <input id="weaponInfo" class="form-control" type="text" name="weaponInfo" placeholder="法尔西昂">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for="skillA">主动技能</label>
            <input id="skillA" class="form-control" type="text" th:field="*{hero.skillA}" placeholder="鬼神飞燕击">
          </div>
          <div class="col-md-2">
            <div class="custom-checkbox" style="padding-top: 2.2em">
              <input id="extendA" class="custom-control-input" type="checkbox" name="extendA">
              <label for="extendA" class="custom-control-label">继承</label>
            </div>
          </div>
          <div class="col-md-4">
            <label for="skillB">被动技能</label>
            <input id="skillB" class="form-control" type="text" th:field="*{hero.skillB}" placeholder="埋伏">
          </div>
          <div class="col-md-2">
            <div class="custom-checkbox" style="padding-top: 2.2em">
              <input id="extendB" class="custom-control-input" type="checkbox" name="extendB">
              <label for="extendB" class="custom-control-label">继承</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for="skillC">增益技能</label>
            <input id="skillC" class="form-control" type="text"th:field="*{hero.skillC}" placeholder="飞行支援">
          </div>
          <div class="col-md-2">
            <div class="custom-checkbox" style="padding-top: 2.2em">
              <input id="extendC" class="custom-control-input" type="checkbox" th:name="extendC">
              <label for="extendC" class="custom-control-label">继承</label>
            </div>
          </div>
          <div class="col-md-4">
            <label for="skillS">支援技能</label>
            <input id="skillS" class="form-control" type="text" th:field="*{hero.skillS}" placeholder="拉近">
          </div>
          <div class="col-md-2">
            <div class="custom-checkbox" style="padding-top: 2.2em">
              <input id="extendS" class="custom-control-input" type="checkbox" th:name="extendS">
              <label for="extendS" class="custom-control-label">继承</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for="skillE">必杀技能</label>
            <input id="skillE" class="form-control" type="text" th:field="*{hero.skillE}" placeholder="疾风迅雷">
          </div>
          <div class="col-md-2">
            <div class="custom-checkbox" style="padding-top: 2.2em">
              <input id="extendE" class="custom-control-input" type="checkbox" th:name="extendE">
              <label for="extendE" class="custom-control-label">继承</label>
            </div>
          </div>
          <div class="col-md-3">
            <label for="blessing">祝福</label>
            <select id="blessing" class="custom-select" th:field="*{hero.blessing}" >
              <option dyl:options="0003" th:value="${inputForm.hero.blessing}" />
            </select>
          </div>
          <div class="col-md-3">
            <label for="heroType">SPEC</label>
            <select id="heroType" class="custom-select" th:field="*{hero.heroType}">
              <option dyl:options="0007" th:value="${inputForm.hero.heroType}" />
            </select>
          </div>
        </div>

        <h4 class="mb-3">类型选择</h4>
        <h4 class="mb-2">兵种</h4>
        <div class="row" dyl:radioImage="0005" th:value="${inputForm.hero.moveType}" />

        <h4 class="mb-2">宝珠颜色</h4>
        <div class="row" dyl:radioImage="0001" th:value="${inputForm.hero.color}" />

        <h4 class="mb-2">种族</h4>
        <div class="row">

          <div class="custom-control custom-radio">
            <input id="race1" class="custom-control-input" type="radio" th:field="*{hero.race}" name="race" value="01" required>
            <label for="race1" class="custom-control-label">人</label>
            <div class="invalid-feedback">weapon is required</div>
          </div>
          <div class="custom-control custom-radio">
            <input id="race2" class="custom-control-input" type="radio" th:field="*{hero.race}" name="race" value="02" required>
            <label for="race2" class="custom-control-label">龙</label>
            <div class="invalid-feedback">weapon is required</div>
          </div>
          <div class="custom-control custom-radio">
            <input id="race3" class="custom-control-input" type="radio" th:field="*{hero.race}" name="race" value="03" required>
            <label for="race3" class="custom-control-label">兽</label>
            <div class="invalid-feedback">weapon is required</div>
          </div>
        </div>


        <h4 class="mb-2">特效</h4>
        <div class="row" dyl:checkboxImage="0006" th:value="${inputForm.hero.specTag}" th:field="*{hero.race}" />
        <button class="btn btn-primary btn-lg btn-block" style="width:300px" type="submit">更新</button>
      </form>
    </div>

  </main>

</body>
</html>