<!DOCTYPE html>
<html xmlns:th="http://www.THYMELEAF.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄登录页面</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">
<link href="../../../resources/bootstrap/css/bootstrap.css" th:href="@{/resources/bootstrap/css/bootstrap.css}" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="../../../resources/bootstrap/css/form-validation.css" th:href="@{/resources/bootstrap/css/form-validation.css}" rel="stylesheet">
<script src="../../../resources/js/jquery-3.4.1.min.js" th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
<script src="../../../resources/js/commonService.js" th:src="@{/resources/js/commonService.js}"></script>
<script type="text/javascript">
$(function() {
  var args = window.dialogArguments;
  $("#weapon").val(args.name);
});

function setValue(){
  var returnObj = {
    "weaponType":$("#weaponType").val(),
    "weapon":$("#weapon").val(),
    "extra":$("#extra").val(),
    "attact":$("#attact").val(),
    "propPlus":$("#propPlus").val(),
    "info":$("#info").val()
  }
  var resultTxt = JSON.stringify(returnObj);
  window.returnValue = resultTxt;
  window.close();
  
}
</script>
</head>
<body class="bg-light">
  <main>
    <!-- Form Info -->
    <div class="col-md-8 order-md-1">
      <form class="needs-validation" >

        <h4 class="mb-3">技能</h4>
        <div class="row">
          <div class="col-md-4">
            <label for="weaponType">武器类型</label>
            <select id="weaponType" class="custom-select" th:field="*{hero.weaponType}" name="weaponType">
              <option></option>
              <option>Sword</option>
              <option>Arom</option>
              <option>Magic</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="weapon">武器名</label>
            <input id="weapon" class="form-control" type="text" >
          </div>
          <div class="col-md-4">
            <label for="extra">特效</label>
            <input id="extra" class="form-control" type="text" >
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <label for="attact">威力</label>
            <input id="attact" class="form-control" type="text" >
          </div>
          <div class="col-md-4">
            <label for="propPlus">附加属性</label>
            <input id="propPlus" class="form-control" type="text" >
          </div>
          <div class="col-md-4">
            <label for="info">描述</label>
            <input id="info" class="form-control" type="text" >
          </div>
        </div>
        
        <input type="button" value="反映" onclick="javascript:setValue()" />

      </form>
    </div>

  </main>

</body>
</html>