<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DashBoard</title>
<!-- 共通様式 -->
<link href="../../../resources/css/common.css" rel="stylesheet" />
<!-- 本画面用様式 -->
<link href="resources/css/dashboard.css" rel="stylesheet" />
<!-- jquery -->
<script src="../../../resources/js/jquery-3.4.1.min.js"></script>
<!-- 共通処理 -->
<script src="../../../resources/js/commonService.js"></script>
<script src="../../../resources/js/import/Chart.min.js"></script>
<!-- 設定データ -->
<script src="resources/data/dashboard.json"></script>
<script src="resources/js/dashboard.js"></script>
</head>
<body>
  <!-- 左侧控制区域 -->
  <aside>
    <div class="leftMenu">
      <span class="icon_text">AAAA</span>
      <span class="icon_text">BBBB</span>
    </div>
  </aside>
  
  <!-- -->
  <main>
    <div id="dashboard_type_A" class="dashboard">
      <span>PieChart</span>
      <canvas id="pieChart" width="400" height="400"></canvas>
    </div>

  </main>
</body>
</html>
