<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>体调记录</title>
<link href="../../../resources/css/common.css" rel="stylesheet" />
<script src="../../../resources/js/jquery-3.4.1.min.js"></script>
<script src="../../../resources/js/commonService.js"></script>
<script src="resources/js/dbConn.js"></script>
</head>
<body>
  <main>
    <!-- message区域 -->
    <div class="messageArea">
      <span id="warMsg" style='color:blue'>&nbsp</span>
      <span id="errMsg" style='color:red'>&nbsp</span>
    </div>
    <!-- 流程ICON区域 -->
    <div id="wk_icon_area">
      <!-- 通过JS生成 -->
    </div>
    
    <!-- 输入区域 -->
    <div class="wk_info_area">
      <form id="infoForm">
        <!-- 通过JS生成 -->
      </form>
    
    <!-- 按钮动作区域 -->
    <div id="eventArea">
      <!-- 通过JS生成 -->
    </div>
    
    <!-- sample 
    <div id="sample">
      <script>

      </script>
    </div>
    -->
  </main>
</body>
</html>
