<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>火纹自走棋V1.0 Beat</title>
<link rel="stylesheet" type="text/css" href="resources/css/game.css" />
<script src="../../../resources/js/jquery-3.4.1.min.js"></script>
<script src="../../../resources/js/commonService.js"></script>
<script src="resources/data/game.json"></script>
<script src="resources/js/game.js"></script>
</head>
<body style="background: #decfcf">

  <main id="main">
    <div class="left">
      <div id="redTeam">
      </div>
      <div id="redTeamCombat">
      </div>
    </div>
    
    <div id="mapArea">
      <div class="buttonArea">
        <button id='btn_gameStart'>开始</button>
        <button id='btn_trunEnd'>结束行动</button>
        <button id='btn_cancel'>取消</button>
        <button id='img_pre' onclick="javascript:changeImage('pre')"><<</button>
        <button id='img_next' onclick="javascript:changeImage('next')">>></button>
        <button id='btn_pick' onclick="javascript:pickImageName()">Pick</button>
        
      </div>
      <div id='screen'><img id='screenImg' src="" style="width:100%;"></img></div>
      <div class="map"></div>
      <div>
        <textarea id="consoleInfo" cols="80" rows="10" readonly="true"></textarea>
      </div>
    </div>
    
    <div class="right">
      <div id="blackTeam">
      </div>
      <div id="blackTeamCombat">
      </div>
    </div>
  </main>
  
  <div>
    <!--  <audio id='bgm' src="theme.mp3" autoplay='autoplay'  loop='loop' controls='controls'  /> -->
  </div>

</body>
</html>
