<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄一览页面</title>
<link rel="icon" type="image/x-ico" href="../../../resources/images/feh.png" th:href="@{/resources/images/rune5/feh.png}"/>
<link href="../../../resources/css/ihover.css" th:href="@{/resources/css/ihover.css}" rel="stylesheet" />
<link href="../../../resources/css/feh/hero_list.css" th:href="@{/resources/css/feh/hero_list.css}" rel="stylesheet" />
<script src="../../../resources/js/jquery-3.4.1.min.js" th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
<script src="../../../resources/js/commonService.js" th:src="@{/resources/js/commonService.js}"></script>
<script src="hero_list.json"></script>
<script src="../../../resources/js/hero/search.js" th:src="@{/resources/js/hero/search.js}"></script>
</head>
<body style="background: #decfcf">
  <div id="block" style="display:none"><button id="cancel">Cancel</button></div>
  <header style="background: #fff; width: 100%; position: fixed; top: 0; left: 0; line-height: 2em; z-index: 999">
    <span>导航栏-固定位置</span>
  </header>

  <main id="main" style="padding-top:20px;width:1200px;">
    <form class="needs-validation" th:object="${form}" th:action="@{/hero/search}" method="post">

      <input type="submit" value="检索"></input>
    </form>
  </main>

  <aside id="leftDetailInfo" style="display:none;">
    <table width="100%">
      <tr>
        <td rowspan="7" width="150px" ><img id="hero_img" style="width:150px" src=""></img></td>
        <td colspan="4" id="hero_titleName">titleName-name</td>
        <td><input type="hidden" id="heroId" ></input></td>
      </tr>
      <tr>
        <td width="40px">HP</td>
        <td width="30px" id="hero_hp"></td>
        <td width="120px" ><span id="round_hp"></span></td>
        <td width="200px"><span id="stick_hp" class="status" style="width:0px"/></td>
      </tr>
      <tr>
        <td>POW</td>
        <td id="hero_pow"></td>
        <td><span id="round_pow"></span></td>
        <td><span id="stick_pow" class="status" style="width:0px"/></td>
      </tr>
      <tr>
        <td>SPD</td>
        <td id="hero_spd"></td>
        <td><span id="round_spd"></span></td>
        <td><span id="stick_spd" class="status" style="width:0px"/></td>
      </tr>
      <tr>
        <td>DEF</td>
        <td id="hero_def"></td>
        <td><span id="round_def"></span></td>
        <td><span id="stick_def" class="status" style="width:0px"/></td>
      </tr>
      <tr>
        <td>MDF</td>
        <td id="hero_mdf"></td>
        <td><span id="round_mdf"></span></td>
        <td><span id="stick_mdf" class="status" style="width:0px"/></td>
      </tr>
      <tr>
        <td>Total</td>
        <td id="hero_total"></td>
        <td><span id="round_total"></span></td>
        <td><span id="stick_total" class="status" style="width:0px"/></td>
      </tr>
    </table>
    <div class="paraBox" style="border:solid 6px #a9ff00c4;height:600px;background-color:#5a7171ad;padding-top:5px">
      <table>
        <tr>
          <td width="200px" align="right">skillA</td>
          <td width="40px"/>
          <td>aa</td>
        </tr>
      <table>
    </div>
    
    <div class="button-group">
       <button id="picture" type="button">picture</button>
       <button type="button" onclick="updateHeroInfo()">update</button>
       <button id="hide" type="button">hide</button>
    </div>
  </aside>

</body>
</html>