<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DESKTOP</title>
    <link rel="icon" type="image/x-ico" href="../../../resources/images/icon.png" th:href="@{/resources/images/icon.png}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css" th:href="@{/resources/css/ext-all.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/desktop.css" th:href="@{/resources/css/desktop.css}" />
    <!-- GC -->
     <script type="text/javascript" src="../../resources/js/jquery-3.4.1.min.js" th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
     <!-- LIBS -->
     <script type="text/javascript" src="../../resources/desktop/ext-base.js" th:src="@{/resources/desktop/ext-base.js}"></script>
     <!-- ENDLIBS -->
    <script type="text/javascript" src="../../resources/desktop/ext-all.js" th:src="@{/resources/desktop/ext-all.js}"></script>
    <!-- DESKTOP -->
    <script type="text/javascript" th:inline="javascript">
        $(function() {
          $("#fullscreen").click();
        });
        
        function fullscreen(url){
          document.documentElement.requestFullscreen();
        }

        function openNewWin(url){
            var iTop = (window.screen.height-500-30)/2;
            var iLeft = (window.screen.width-10-1080)/2;
            window.open(url);
        }

        function openPopup(url){
            var iTop = (window.screen.height-500-30)/2;
            var iLeft = (window.screen.width-10-1080)/2;
            window.open(url, "TBL", "height=500,width=1080,top="+iTop+",left="+iLeft+",location=no,status=no,scrollvars=no");
        }
    </script>
    <script type="text/javascript" src="../../resources/desktop/StartMenu.js" th:src="@{/resources/desktop/StartMenu.js}"></script>
    <script type="text/javascript" src="../../resources/desktop/TaskBar.js" th:src="@{/resources/desktop/TaskBar.js}"></script>
    <script type="text/javascript" src="../../resources/desktop/Desktop.js" th:src="@{/resources/desktop/Desktop.js}"></script>
    <script type="text/javascript" src="../../resources/desktop/App.js" th:src="@{/resources/desktop/App.js}"></script>
    <script type="text/javascript" src="../../resources/desktop/Module.js" th:src="@{/resources/desktop/Module.js}"></script>
    <script type="text/javascript" src="../../resources/desktop/sample.js" th:src="@{/resources/desktop/sample.js}" th:inline="javascript"></script>

</head>
<body scroll="no">

<div id="x-desktop">
    <!--   
    <input id="fullscreen" class="fullscreen" type="button" onclick="fullscreen()" ></input>
    -->
    <form action="">
        <input type="hidden" size="100" th:value="${jsonData}" id="jsonData">
    </form>
    
    <dl id="x-shortcuts">
        <!--
        <dt id="grid-win-shortcut">
            <a href="#"><img src="../../resources/images/s.gif"  th:src="@{/resources/images/s.gif}" />
            <div>Grid Window</div></a>
        </dt>
        <dt id="acc-win-shortcut">
            <a href="#"><img src="../../resources/images/s.gif"  th:src="@{/resources/images/s.gif}"/>
            <div>Accordion Window</div></a>
        </dt>
        -->
        <dt class="shortcut" onclick="javascript:openNewWin('hero/index')">
            <a href="#"><img src="../../resources/images/feh.png"  th:src="@{/resources/images/feh.png}"/>
              <div>FEH</div>
            </a>
        </dt>
        
        <dt class="shortcut" onclick="javascript:openNewWin('rune/farm')">
            <a href="#"><img src="../../resources/images/rune5/title.png"  th:src="@{/resources/images/rune5/title.png}"/>
              <div>符文工房</div>
            </a>
        </dt>

        <dt class="shortcut" onclick="javascript:openNewWin('fileManagement/menu')">
            <a href="#"><img src="../../resources/images/fileExp.png"  th:src="@{/resources/images/fileExp.png}"/>
              <div>文件浏览器</div>
            </a>
        </dt>

        <dt class="shortcut" onclick="javascript:openPopup('rigstTable/init')">
            <a href="#"><img src="../../resources/images/registMaster.png"  th:src="@{/resources/images/registMaster.png}"/>
            <div>全能添加数据</div></a>
        </dt>

    </dl>
</div>

<div id="ux-taskbar">
    <div id="ux-taskbar-start"></div>
    <div id="ux-taskbuttons-panel"></div>
    <div class="x-clear"></div>
</div>

</body>
</html>
