aside {
  position : absolute;
  z-index:9;
  width : 50px;
  height : 100%;
  background-color : rgb(0,0,0,0.8);
  overflow-x : hidden;
  color : white;
  font-size : large;
}

aside:hover {
  width : 250px;
}

main {
  margin-left : 70px;
  height : 100%;
  background-color : rgb(255,255,255,1);
}

.leftMenu{
  padding-left : 20px;
  padding-top : 5px;
}

.dashboard {
  width : 450px;
  height : 500px;
  margin : 10px 10px 10px 10px;
  border:1px;
  background-color : #e1e8f9;
}

canvas {
  margin : 50px 0px 0px 25px;
  background-color : white;
}
