<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>树形菜单示例</title>
    <link rel="stylesheet" type="text/css" href="../../../resources/css/family/familyTree.css" th:href="@{/resources/css/family/familyTree.css}" />

    <script src="../../../resources/js/jquery-3.4.1.min.js" th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
    <script src="../../../resources/js/family/familyTree.js" th:src="@{/resources/js/family/familyTree.js}"></script>
</head>
<body>
<div id="content"></div>
</body>
</html>